:root {
  color: black;
  font-family: "Poppins", sans-serif;
}

.name {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 35px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
}

.resume-analyzer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-image: url(../../public/assets/interview.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.full-screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Black background with some transparency */
  z-index: 1; /* Ensure it appears above the background image */
}

#questionsContainer {
  padding: 20px;
  border-radius: 8px; /* Optional: to make corners rounded */
  z-index: 2; /* Ensure it appears above the black overlay */
  color: white; /* White text for better readability */
  position: relative;
}

#questionsContainer p {
  color: white; /* White text for better readability */
}

#questionsContainer textarea {
  width: 100%;
  margin-bottom: 10px;
}

.left-section {
  flex: 1;
  padding-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  color: yellow;
  font-weight: 500;
  z-index: 2; /* Ensure it appears above the black overlay */
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 60px;
  z-index: 2; /* Ensure it appears above the black overlay */
}

.right-section img {
  max-width: 100%;
  max-height: 100%;
  margin-right: 30px;
  margin-top: 10px;
}

.upload {
  background-color: #4caf50;
  height: 40px;
  border-radius: 10px;
  border: 0px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.upload:hover {
  background-color: yellow;
  cursor: pointer;
}
