:root {
  color: white;
  font-family: "Poppins", sans-serif;
}

.name {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 35px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
}

.resume-analyzer {
  display: flex;
}

.left-section {
  flex: 1;
  padding-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  color: yellow;
  font-weight: 500;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 60px;
}

.right-section img {
  max-width: 100%;
  max-height: 100%;
  margin-right: 30px;
  margin-top: 10px;
}

.upload {
  background-color: #4caf50;
  height: 40px;
  border-radius: 10px;
  border: 0px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.upload:hover {
  background-color: yellow;
  cursor: pointer;
}
